#qna {
  display: none;
}

.qBox {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  font-size: 40px;
  width: 80%
}

.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
  font-size: 28px;
}

.answerList:hover, .answerList:focus {
  background-color: #5d99c6;
  color: whitesmoke;
}

.status {
  height: 20px;
  width: 80%;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  border-radius: 20px;
  background: #004ba0;
}
