html, body{
    background-color: #90caf9;
    height: 100%;
}

h1{
    font-size: 50px;
    text-align: center;
    background-color: #fff;
    padding: 5px;
    margin: 0;
}

.wrap{
        /*max-width: 480px; 레이아웃 외곽 너비 400px 제한*/
        margin: 0 auto; /* 화면 가운데로 */
        background-color: #fff;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 50px;
        margin-bottom: 50px;
}
#List{
    background-color: #fff;
    width: 50%;
    text-align: center;
    border-radius: 20px;
}
p{
    display: inline-block;
}
.name, .review, .star{
    font-size: 20px;
    display: inline-block;
    margin: 10%;
    margin-top: 40px;
    margin-bottom: 20px;
}
table{
    border: 1px solid red;
    width: 100%;
    text-align: center;
}