html, body{
    background-color: #90caf9;
    height: 100%;
}
a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #a00;
}
h1{
    font-size: 50px;
    text-align: center;
    padding: 5px;
    margin: 50px;
}
.data{
    width: 90%;
    background-color: white;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.name{
    padding-left: 30px;
    padding-right: 50px;
}
.review{
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid rgba(102, 102, 102, 0.17);
    border-right: 1px solid rgba(102, 102, 102, 0.17);
}
.star{
    padding-left: 50px;
    padding-right: 30px;
}
p{
    font-size: 30px;
    display: inline-block;
    font-weight: normal;
}
.name, .review,.star{
    font-size: 50px;
    font-weight: bold;
}
.db{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.list{
     margin-top: 20px;
     text-align: right;
     float: right;
 }
.list input[type="button"]{
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
}
.cmd input[type="button"]{
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
}
