html, body{
    background-color: #90caf9;
    height: 100%;
}
a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #a00;
}
h1{
    font-size: 50px;
    text-align: center;
    background-color: #fff;
    padding: 5px;
    margin: 50px;
}
.data{
    text-align: center;
    display: inline-block;
}
p{
    font-size: 30px;
    /*border: 1px solid red;*/
    display: inline-block;
    font-weight: normal;
}
.name, .review,.star{
    font-size: 50px;
    font-weight: bold;
}
.db{
    display: flex;
    justify-content: center; /*가로*/
    /*align-items: center;*/ /*세로*/
    min-height: 100vh;
}
.list{
     margin-top: 20px;
     text-align: right;
     float: right;
 }
.list input[type="button"]{
    padding: 10px 20px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    background-color:#000;
    color: #fff;
}
.cmd input[type="button"]{
    padding: 10px 20px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    background-color:#000;
    color: #fff;
}
